header *{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
    list-style: none;
}
body{
    margin: 0;
}
.header_menu_contain{
    display: none;
}
.header_nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
    background-color: white;
}
.header_nav_list{
    display: flex;
    justify-content: space-around;
}
.header_nav_item{
    padding-left: 20px;
    font-weight: 700;
    font-size: 20px;
}
.nav_list_icon_main{
    margin-left: 30px;
    position: relative;
}
.nav_list_icon{
    margin-left: 10px;
    position: relative;
}
.header_nav_icons{
    color: transparent;
    -webkit-text-stroke: 1px black;
}
.header_nav_icons:hover{
    color: black;
}
.header_section_nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    background-color: #F0F0F4;
    width: 100%;
}
.header_section_nav_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_section_list_item{
    margin-left: 60px;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    height: 40px;
    align-items: center;
}
.header_section_list_item:hover{   
    border-bottom: 2px solid #1C62CD;
    transition-duration: 200ms;
}
.header_main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.header_aksiya{
    border: lightgray 1px solid;
    display: inline-block;
    width: 220px;
    text-align: center;
    position: relative;
    margin-left: 50px;
    z-index: -100;
}
.header_aksiya:hover{
    cursor: pointer;
}
.header_important{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40%;
    background-color: #1C62CD;
    color: white;
    padding: 10px 0;
}
.header_all_costs{
    text-align: right;
}
.header_cost{
    font-size: 27px;
    color: #1C62CD;
}
.header_old_cost{
    color: #C4C4C4;
    font-size: 14px;
}
.header_product_name{
    color: #2F3035;
    font-size: 18px;
}
.header_aksiya_discription{
    padding: 10px 0px;
    text-align: center;
    background-color: #F0F0F4;
}
.header_discription{
    font-size: 18px;
    color: #2F3035;
}
.header_date{
    color: #1C62CD;
    font-size: 18px;
}
.footer-main-h3 {
    font-size: 25px;
}
.footer-main-div-1 {
    padding-left: 100px;
}
.footer-link {
    color: #48494D;
    text-decoration: none;
    font-size: 15px;
}
.footer-link:checked {
    border-bottom: 2px solid #1C62CD;
    color: #2F3035;
}
.footer-card-1-button {
    display: none;
    text-transform: uppercase;
    border: none;
}
.footer-div-links {
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.footer-div-1-div-1-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-div-1-button-1 {
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: #1C62CD;
    font-size: 12px;
    color: white;
    border: none;
}
.footer-img-responsive {
    display: none;
}
.footer-div-1-img {
    width: 200px;
    height: 133px;
}
.footer-div-1-card-1 {
    width: 220px;
}
.footer-div-1-card-2 {
    width: 220px;
}
.footer-div-1-h3 {
   color: #2F3035;
   font-size: 20px;
   text-align: center;
}
.footer-div-1-h4 {
    color: #2F3035;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.footer-div-1-card-1-link {
    color: #1C62CD;
    text-decoration: solid;
    text-decoration-color: #1C62CD;
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
}
.footer-div-2-price {
    color: #2F3035;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.footer-div-2-div-1-nav {
    display: flex;
    justify-content: end;
}
.footer-main-div-cards {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.footer-main-2-h3 {
    width: 210px;
    font-size: 14px;
}
.footer-input-1 {
    width: 200px;
    border: none;
    height: 25px;
}
.footer-button {
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: #1C62CD;
    font-size: 11px;
    padding: 9px 15px;
}
.footer-main-div-2 {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}
.footer-main-2-div-links {
    text-decoration: none;
    color: #2F3035;
    font-size: 14px;
}
.footer-main-2-div-h3 {
    color: #2F3035;
    font-size: 14px;
    text-transform: capitalize;
}
.footer-main-div-2- {
    width: 80px;
}
.footer-main-div-3- {
    display: flex;
    flex-direction: column;
}
.footer-main-logo {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
.icon {
    font-size: 30px;
}
.footer-div-about-h3 {
    font-size: 10px;
    color: #48494D;
}
.footer-div-about {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
